flask
opencv-python
numpy
pandas
torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0
diffusers==0.24.0
transformers==4.38.0
accelerate
scikit-learn
Pillow
streamlit
moviepy
numba
rich
tokenizers
huggingface_hub
